<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mb-3">
      <h1 class="display-4"> <span class="greeting">👋</span> Hola, Soy <span class="text-name">Erinxon</span></h1>
      <p class="lead">👨‍💻 Programador de aplicaciones web apasionado por aprender y crear cosas nuevas.</p>
      <p class="lead">👨‍🎓 Egresado de la carrera de desarrollo de software en el Instituto Tecnológico de Las Américas (ITLA).
      </p>
      <p class="lead">Actualmente estoy buscando trabajo como programador de aplicaciones web.</p>

      <a class="download-cv">Download CV</a>
    </div>
    <div class="col-md-6 img-code">
      <icons icon="code-browser"/>
    </div>
  </div>
</div>