.text-name {
    font-weight: bold;
    color: #5000ca !important;
}

.download-cv {
    background-color: #5000ca !important;
    color: white !important;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}


@media only screen and (max-width: 768px) {
    .img-code {
        display: none;
    }
}

.greeting{
    cursor: pointer;
}

.greeting:hover{
    animation: greeting 1s ease-in-out;
}

@keyframes greeting{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(100px);
    }
}