<div class="container mt-5">
    <div class="project">
        <div class="img">
            <img src="https://miro.medium.com/v2/resize:fit:480/1*9A6E9kaZZ54idy0HLSlh-A.png" alt="">
        </div>
        <div class="title">
            <h3>Gestor Economia</h3>
        </div>
        <div class="description">
            <p>
                Gestor Economia es una aplicación web que permite a los usuarios llevar un control de sus gastos e ingresos.
            </p>
        </div>

        <div class="footer">
            <div class="skills">
                <div class="skill">
                    Angular
                </div>
                <div class="skill">
                    c#
                </div>
                <div class="skill">
                    Net Core
                </div>
                <div class="skill">
                    SQL
                </div>
            </div>
            <div class="websites">
                <a>
                    <icons icon="website" />
                </a>
                <a>
                    <icons icon="github" />
                </a>
            </div>
        </div>
      
    </div>
</div>