<div class="container mt-5">
    <div class="skill">
        <div class="title">
            C#
        </div>
        <div class="level">
            Basico
        </div>
    </div>
    <div class="skill">
        <div class="title">
            Angular
        </div>
        <div class="level">
            Basico
        </div>
    </div>
    <div class="skill">
        <div class="title">
            JavaScript
        </div>
        <div class="level">
            Basico
        </div>
    </div>
</div>