.btn-submit{
    background-color: #5000ca !important;
    color: #f3f4f5 !important;
    margin-top: 0.5em;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    float: right;
}

.card-body{
    background-color: #f3f4f5;
    border-radius: 5px;
    padding: 30px;
    border: #273036 solid 2px !important;
}

.form-control{
    border-radius: 5px;
    padding: 1em;
    border: #273036 solid 2px !important;
}

label{
    font-weight: bold;
    color: #5000ca;
    font-size: 1.2em;
}